#

# Exploratory Data Analysis

## Common Library Imports

In [1]:
import pandas as pd
import numpy as np

## Load Carbon Emissions Dataset

In [2]:
""" Read in the CSV """
df = pd.read_csv("carbon_emissions.csv")

df

/var/folders/y5/ty9zs0px6gbg3f5k7p4jqh4m0000gn/T/ipykernel_80834/2782118352.py:1: DtypeWarning: Columns (146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,176,181,183,184,186,187,188,189,193,194,195) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("carbon_emissions.csv")

,periodid,institutionid,reportedcurrencyisocode,tcprimarysectorid,fiscalyear,periodenddate,di_319380,di_319381,di_319382,di_319383,...,streetaddress3,streetaddress4,zipcode,yearfounded,monthfounded,dayfounded,officephonevalue,otherphonevalue,officefaxvalue,webpage
0,24CE2138-A28F-4545-8583-A372D989D03E,11485,USD,524100,2019,2019-12-31,0.000009,0.000,0.001115,0.048,...,NaN,NaN,14727-9200,1887.0,NaN,NaN,585 968 1000,NaN,NaN,www.alleganygroup.com
1,DA940B4C-BF2F-47C8-887C-5EC89E97DD72,11489,USD,524100,2023,2023-12-31,0.036167,0.000,4.013338,0.045,...,NaN,NaN,02919-4949,1835.0,NaN,NaN,401-275-3000,NaN,401-275-3029,www.fmglobal.com
2,3C074168-9E8F-4C98-91C7-31AF6EE82731,11489,USD,524100,2021,2021-12-31,0.030702,0.000,4.206117,0.052,...,NaN,NaN,02919-4949,1835.0,NaN,NaN,401-275-3000,NaN,401-275-3029,www.fmglobal.com
3,37FC949D-8B66-4075-898B-F3C779BDB8BE,11489,USD,524100,2022,2022-12-31,0.016191,0.000,1.796607,0.045,...,NaN,NaN,02919-4949,1835.0,NaN,NaN,401-275-3000,NaN,401-275-3029,www.fmglobal.com
4,F1DC79E1-7706-4FAA-A79F-53E205FD7FA4,11489,USD,524100,2020,2020-12-31,0.025843,0.000,3.182442,0.049,...,NaN,NaN,02919-4949,1835.0,NaN,NaN,401-275-3000,NaN,401-275-3029,www.fmglobal.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5988994,B5A463B3-38BF-428F-8D20-CB19A9E5B14A,119043496,USD,550000,2021,2021-12-31,0.000326,0.005,0.007645,0.109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.gecspa.it
5988995,6B0F9762-B31F-4162-8BD4-D8ED5C41906E,119043496,USD,550000,2020,2020-12-31,0.000202,0.005,0.004472,0.101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.gecspa.it
5988996,83E5B6F0-ACCC-4E11-8847-A4B994F3E367,119063782,USD,453000,2021,2021-12-31,0.000199,0.009,0.004160,0.196,...,NaN,NaN,08002,1979.0,NaN,NaN,34 933 17 49 66,NaN,NaN,raima.cat
5988997,5713CA92-E354-441A-A81C-4C84E2772D02,119063782,USD,453000,2020,2020-12-31,0.000144,0.009,0.002808,0.182,...,NaN,NaN,08002,1979.0,NaN,NaN,34 933 17 49 66,NaN,NaN,raima.cat
5988998,F70B12B8-1080-4AB4-B0DC-28337187BDB7,119155104,USD,621A00,2020,2020-12-31,0.000445,0.007,0.006037,0.093,...,NaN,NaN,15068-3345,2018.0,NaN,NaN,724-339-1071,NaN,724-339-2882,NaN

## Missing data checks to prepare for imputation

In [ ]:
""" Missing Data Checks """

In [4]:
""" Number of unique companies across all the years """
np.unique(df["gvkey"]).size # roughly 30k

31511

In [10]:
""" Now determine the number of unique companies in the 
different years
"""
print(f"All years: {np.unique(df['fiscalyear'])}")

for year in np.unique(df['fiscalyear']):
    print(f"{year} => {np.unique(df[df['fiscalyear'] == year]['gvkey']).size}")

All years: [2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020 2021 2022 2023]
2002 => 1763
2003 => 2000
2004 => 2885
2005 => 3880
2006 => 4170
2007 => 4307
2008 => 4269
2009 => 4563
2010 => 4723
2011 => 4833
2012 => 4868
2013 => 5757
2014 => 6154
2015 => 6235
2016 => 13882
2017 => 14786
2018 => 16979
2019 => 17378
2020 => 23353
2021 => 23386
2022 => 24053
2023 => 9725

In [ ]:
# print(df[])

## Write out all the unique gvkeys

In [15]:
with open("wrds_environment_gvkeys.txt", "w") as fh:
    for gvkey in np.unique(df["gvkey"]):
        if not np.isnan(gvkey):
            fh.write(f"{int(gvkey)}\n")

## Read in the daily security prices csv

In [16]:
returns_df = pd.read_csv("daily.csv")

/var/folders/y5/ty9zs0px6gbg3f5k7p4jqh4m0000gn/T/ipykernel_80834/789980338.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  returns_df = pd.read_csv("daily.csv")

In [17]:
returns_df

,gvkey,iid,datadate,conm,trfd,isin,county,sic
0,1166,01W,2002-01-02,ASM INTERNATIONAL NV,1.000000,NL0000334118,NaN,3559.0
1,1166,01W,2002-01-03,ASM INTERNATIONAL NV,1.000000,NL0000334118,NaN,3559.0
2,1166,01W,2002-01-04,ASM INTERNATIONAL NV,1.000000,NL0000334118,NaN,3559.0
3,1166,01W,2002-01-07,ASM INTERNATIONAL NV,1.000000,NL0000334118,NaN,3559.0
4,1166,01W,2002-01-08,ASM INTERNATIONAL NV,1.000000,NL0000334118,NaN,3559.0
...,...,...,...,...,...,...,...,...
113958618,362779,01W,2024-08-06,NOVAMARINE SPA,1.145429,IT0005605701,NaN,NaN
113958619,362779,01W,2024-08-07,NOVAMARINE SPA,1.145429,IT0005605701,NaN,NaN
113958620,362779,01W,2024-08-08,NOVAMARINE SPA,1.145429,IT0005605701,NaN,NaN
113958621,362779,01W,2024-08-09,NOVAMARINE SPA,1.145429,IT0005605701,NaN,NaN
113958622,362779,01W,2024-08-12,NOVAMARINE SPA,1.145429,IT0005605701,NaN,NaN

## Check the intersect between the gvkeys of the carbon emissions dataset and the daily prices dataset

In [31]:
# unique non-nan in environment
env_gvkeys = np.unique(df[~np.isnan(df["gvkey"])]["gvkey"])

print(env_gvkeys.size)

31510

In [32]:
# unique non-nan in returns
returns_gvkeys = np.unique(returns_df[~np.isnan(returns_df["gvkey"])]["gvkey"])

print(returns_gvkeys.size)

24110

In [33]:
env_ret_common_gvkeys = np.intersect1d(
    env_gvkeys, 
    returns_gvkeys, 
    assume_unique=True
)

print(env_ret_common_gvkeys.size)

24110

In [34]:
""" Check the missing gvkeys to see what country they are from """
missing_gvkeys = np.setdiff1d(env_gvkeys, env_ret_common_gvkeys, assume_unique=True)

print(missing_gvkeys.size)

7400

## Checks on Duplicates

In [15]:
company_dups = df[df.duplicated('gvkey', keep=False) == True].sort_values(by="gvkey")

In [26]:
last_iid = None
last_fyears = set()
for i, row in company_dups.iterrows():
    current_iid = row["institutionid"]
    current_fyear = row["fiscalyear"]
    if last_iid is not None and current_iid == last_iid:
        if current_fyear in last_fyears:
            raise Exception(f"Fyear clash!, iid: {current_iid}, prev_fyears: {last_fyears}, clash: {current_fyear}")
        else:
            last_fyears.add(current_fyear)
    else:
        last_iid = current_iid
        last_fyears.clear()
        last_fyears.add(current_fyear)

print("No issues...")

Exception: Fyear clash!, iid: 4415462, prev_fyears: {2022}, clash: 2022

In [31]:
company_dups.head(20)

,periodid,institutionid,reportedcurrencyisocode,tcprimarysectorid,fiscalyear,periodenddate,di_319380,di_319381,di_319382,di_319383,...,streetaddress3,streetaddress4,zipcode,yearfounded,monthfounded,dayfounded,officephonevalue,otherphonevalue,officefaxvalue,webpage
5,30D218CF-2E2A-46B4-AF72-CADF593290E8,4074603,USD,713A00,2022,01/01/2023,0.285,0.021,2.079,0.153,...,NaN,NaN,76011,1961.0,NaN,NaN,972 595 5000,NaN,NaN,www.sixflags.com
2503,1989BCA5-218F-4857-A3CE-1F2114D67F8E,4074603,USD,713A00,2023,31/12/2023,0.302,0.021,2.098,0.147,...,NaN,NaN,76011,1961.0,NaN,NaN,972 595 5000,NaN,NaN,www.sixflags.com
4988,5B249039-D1E2-43D2-825B-DDD233FE2FE0,4996548,USD,561300,2023,31/12/2023,0.015,0.005,0.125,0.040,...,NaN,NaN,75024,2007.0,NaN,NaN,972 692 2400,NaN,NaN,bgsf.com
40,5F205052-5493-41C8-9C8C-1E0FE1FC5DC0,4996548,USD,561300,2022,01/01/2023,0.014,0.005,0.122,0.041,...,NaN,NaN,75024,2007.0,NaN,NaN,972 692 2400,NaN,NaN,bgsf.com
1,01C53196-7DD9-42C7-9D3B-F152BFB3A364,4054841,USD,445000A,2022,01/01/2023,3.061,0.003,186.279,0.203,...,NaN,NaN,1506 MA,1867.0,NaN,NaN,31 88 659 9111,NaN,NaN,www.aholddelhaize.com
2462,793C84DE-3E9D-4CE0-8768-647BA85F9272,4054841,USD,445000A,2023,31/12/2023,3.183,0.003,181.084,0.189,...,NaN,NaN,1506 MA,1867.0,NaN,NaN,31 88 659 9111,NaN,NaN,www.aholddelhaize.com
110,A706AF20-7252-4C95-AA58-2481363942C5,10175068,USD,722000,2022,02/01/2023,0.095,0.053,0.696,0.389,...,NaN,NaN,33309,2011.0,NaN,NaN,954-618-2000,NaN,NaN,www.burgerfi.com
6071,96731D0E-B576-41E4-8386-DAD27811DF60,10175068,USD,722000,2023,01/01/2024,0.092,0.054,0.625,0.368,...,NaN,NaN,33309,2011.0,NaN,NaN,954-618-2000,NaN,NaN,www.burgerfi.com
99,0446986D-7007-4B72-AA5B-49AA5ADB4CF2,28295169,USD,541512,2022,01/01/2023,0.042,0.020,0.362,0.170,...,NaN,NaN,55425,2016.0,NaN,NaN,952 851 5200,NaN,NaN,www.skywatertechnology.com
6011,9AABC54A-2E82-4C6A-99E2-489EF08AE342,28295169,USD,541512,2023,31/12/2023,0.051,0.018,0.420,0.147,...,NaN,NaN,55425,2016.0,NaN,NaN,952 851 5200,NaN,NaN,www.skywatertechnology.com
35,7E60EE90-E9E7-4FED-83DF-2E7A02A6AABB,4963509,USD,541400,2022,01/01/2023,0.001,0.006,0.061,0.380,...,NaN,NaN,95131,1988.0,NaN,NaN,408 990 4000,NaN,NaN,www.quicklogic.com
4018,E0A9FA48-1F83-4B6B-90D8-B0AB05C741BA,4963509,USD,541400,2023,31/12/2023,0.001,0.007,0.080,0.377,...,NaN,NaN,95131,1988.0,NaN,NaN,408 990 4000,NaN,NaN,www.quicklogic.com
108,E3F16746-4804-459A-A330-D7BB3B1F904C,4963656,USD,334412,2022,02/01/2023,0.648,0.026,9.352,0.375,...,NaN,NaN,92707,1978.0,NaN,NaN,714 327 3000,NaN,NaN,www.ttm.com
6070,BA0F2FA0-CF61-4B3C-8459-B63953137484,4963656,USD,334412,2023,01/01/2024,0.586,0.026,8.356,0.374,...,NaN,NaN,92707,1978.0,NaN,NaN,714 327 3000,NaN,NaN,www.ttm.com
2491,94EFB58E-C08F-4202-A413-6CC9CE976B02,4067211,USD,453000,2023,31/12/2023,0.082,0.009,1.364,0.154,...,NaN,NaN,90245,1955.0,NaN,NaN,310 536 0611,NaN,NaN,www.big5sportinggoods.com
4,E03D4FA9-18C8-45C6-BAB0-410240032356,4067211,USD,453000,2022,01/01/2023,0.094,0.009,1.590,0.160,...,NaN,NaN,90245,1955.0,NaN,NaN,310 536 0611,NaN,NaN,www.big5sportinggoods.com
6058,BF30EA66-E29F-46AE-8B2F-2DAFD9B5E5B1,100416430,USD,722000,2023,31/12/2023,0.064,0.027,0.911,0.384,...,NaN,NaN,BN99 3HH,2021.0,NaN,NaN,44 330 460 5588,NaN,NaN,www.hostmoregroup.com
105,E1BEAC00-E920-4299-8A9F-CA380095FFFF,100416430,USD,722000,2022,01/01/2023,0.067,0.028,0.994,0.411,...,NaN,NaN,BN99 3HH,2021.0,NaN,NaN,44 330 460 5588,NaN,NaN,www.hostmoregroup.com
2,01C53196-7DD9-42C7-9D3B-F152BFB3A364,4054841,USD,445000A,2022,01/01/2023,3.061,0.003,186.279,0.203,...,NaN,NaN,NL-1507,NaN,NaN,NaN,31-75-65-99-111,NaN,NaN,www.ahold.com
10,69C36A10-8B26-4EC8-99C9-55D0F48324DA,4094026,USD,325413,2022,01/01/2023,0.705,0.022,5.871,0.180,...,NaN,NaN,92121,NaN,NaN,NaN,858-552-1100,NaN,NaN,NaN

In [32]:
company_dups[company_dups["institutionid"] == 4415462]

,periodid,institutionid,reportedcurrencyisocode,tcprimarysectorid,fiscalyear,periodenddate,di_319380,di_319381,di_319382,di_319383,...,streetaddress3,streetaddress4,zipcode,yearfounded,monthfounded,dayfounded,officephonevalue,otherphonevalue,officefaxvalue,webpage
23,5282F3CE-9CFA-4830-9116-3B36EFDE5089,4415462,USD,52A000,2022,01/01/2023,0.001,0.001,0.054,0.037,...,NaN,NaN,050059,1993.0,NaN,NaN,7 727 244 5484,NaN,7 727 244 5480,www.homecredit.kz
24,5282F3CE-9CFA-4830-9116-3B36EFDE5089,4415462,USD,52A000,2022,01/01/2023,0.001,0.001,0.054,0.037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

array(['United States', 'Netherlands', 'United Kingdom', 'Canada',
       'Kazakhstan', 'Belarus', 'Australia', 'Belgium', 'Austria',
       'Finland', 'Ireland', nan, 'Singapore', 'France', 'Denmark',
       'Japan', 'Israel', 'Italy', 'South Africa', 'Thailand', 'Germany',
       'China', 'Hong Kong', 'Luxembourg', 'India', 'Switzerland',
       'Malaysia', 'South Korea', 'Kenya', 'New Zealand', 'Spain',
       'Pakistan', 'Saudi Arabia', 'Sweden', 'British Virgin Islands',
       'Kuwait', 'Turkey', 'Philippines', 'Mauritius', 'Bangladesh',
       'Cayman Islands', 'Botswana', 'Egypt', 'Malta', 'Malawi',
       'Jamaica', 'Bermuda', 'Colombia', 'Mexico', 'Norway', 'Brazil',
       'Bahrain', 'Morocco', 'Indonesia', 'Romania', 'Russia',
       'Ivory Coast', 'Tunisia', 'Greece', 'Vietnam', 'Taiwan', 'Nigeria',
       'Oman', 'Qatar', 'Portugal', 'United Arab Emirates', 'Jersey',
       'Poland', 'Bulgaria', 'Chile', 'Reunion', 'Ghana', 'Monaco',
       'Bahamas', 'Guernsey'], dtype=object)